<!-- views/showPosts.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Posts</title>
    <link rel="stylesheet" href="/stylesheets/feed.css">
</head>

<body>
    <h1>Explore</h1>
    <div id="profile-link">
      <a href="/profile">Profile</a>
    </div>
    <div id="logout-btn">
      <button><a href="/logout">Logout</a></button>
    </div>
    <div class="posts-container">
        <% posts.forEach(posts=> { %>
            <div class="post-card">
                <img src="/images/uploads/<%= posts.image %>" alt="<%= posts.title %>" class="post-image">
                <div class="post-content">
                    <h2>
                        <%= posts.title %>
                    </h2>
                    <p>
                        @<%= posts.user.username%>
                    </p>
                </div>
            </div>
            <% }); %>
    </div>

</body>

</html>