<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../stylesheets/register.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="#image1">
        <img src="" alt="">
    </div>
  <div class="container">
    <div class="content">
      <img src="https://i.pinimg.com/originals/d3/d1/75/d3d175e560ae133f1ed5cd4ec173751a.png" alt="pin logo" class="img1" />
      <p class="header">Make account to see more</p>
      <form action="/register" method="post">
      <input type="text" name="username" placeholder="Username" class="detail" />
      <input type="text" name="contact" placeholder="Contact" class="detail" />
      <input type="email" name="email" placeholder="Email" class="detail" /><br />
      <input type="password" name="password" placeholder="Password" class="detail" />
      <input type="submit"  value="Register Account" class="btn int" />
     </form>
      <footer>
        <p>
          By continuing, you agree to PinVault's
          <b>Terms of Service, Privacy policy.</b>
          <p ><a id="linkh" href="/">Already on PinVault yet? Login</a></p>
        </p>
        <hr />
      </footer>
    </div>
  </div>

</body>
</html>